{% extends 'base.html' %}


{% block title %}
  
{% endblock %}


{% block content %}
<section class="hero is-link">
  <div class="hero-body">
    <p style="font-size: 60px;" class="title">
      #earths
    </p>
  </div>
</section>
<!--hero end-->

<section class="section">
<div class="container">
  <div class="columns is-multiline is-mobile is-centered">
      <div class="column is-one-quarter">
          <div class='box'>
              <figure class="image is-256x256">
                  <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
              </figure>
          </div>
      </div>
      <div class="column is-one-quarter">
          <div class='box'>
              <figure class="image is-256x256">
                  <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
              </figure>
          </div>
      </div>
      <div class="column is-one-quarter">
          <div class='box'>
              <figure class="image is-256x256">
                  <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
              </figure>
          </div>
      </div>
      <div class="column is-one-quarter">
          <div class='box'>
              <figure class="image is-256x256">
                  <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
              </figure>
          </div>
      </div>
      <div class="column is-one-quarter">
          <div class='box'>
              <figure class="image is-256x256">
                  <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
              </figure>
          </div>
      </div>
  </div>
</div>
</section>
{% endblock %}